{% extends "base.html" %}

{% block head %}
<script>
	
	var user_search_string = "";
	
	$( document ).ready(function() {
    console.log( "ready!" );
    
    /* Bind buttons */
	  $("#button-own").on("click", function(){
	    $("#modal-own-it").addClass("is-active");
	  });
	  $("#button-play").on("click", function(){
	    $("#modal-play-it").addClass("is-active");
	  });
	  $(".close").on("click", modalCloseHandler);
	  $("#button-own-submit").on("click", ajax_ownership_register);
	  $("#add_player_line").on("click", add_user_play_entry);
	  $("#played_save_button").on("click", ajax_played_register);
	  
	  /* Add first line in "I Played That Game!" dialog */
	  add_user_play_entry();
	  
	  /* Interval function */
	  setInterval(function(){
      console.log("interval func");
      if($("#user_search").val() != user_search_string){
        user_search_string = $("#user_search").val();
        if(user_search_string.length > 2){
          ajax_user_query(user_search_string);
        }
        else{
          
        }
      }
    }, 2000);
    
	});
	
	function modalCloseHandler(event)
  {
    console.log("close handler");
    var parent = $(event.target).parents(".modal:first");
    parent.removeClass(".is-active");
    $(this).parents(".modal").first().removeClass("is-active");
  }
  
  function closeAllModals()
  {
    $(".modal").removeClass("is-active");
  }
  
  function ajax_user_query(user_search)
  {
		var data = {"search_query": user_search};
		$.ajax({
				type: "POST",
				url: "/json/user_search",
				data: JSON.stringify(data),
				contentType: "application/json",
				dataType: 'json',
				success: function(result) {
					console.log("ajax resp");
					console.log(result);
					user_datalist(result);
				}
			});
			console.log("ajax sent");
	}
	
	function add_user_play_entry()
	{
		var html = '<tr class="played_dataset">';
		html +=    '<td><input class="input played_user_name" type="text" list="users" name="user_search" placeholder="Reiner Knizia"></td>';
		html +=    '<td><input class="input played_score" type="number"></td>';
	  html +=    '<td><label class="checkbox"><input class="played_bad" type="checkbox"></label></td>';
		html +=    '</tr>';
		$("#user_play_table").append(html);
	}
	
	function ajax_played_register()
	{
	
		var data = {};
		data["game_id"] = {{ game_data["game_id"] }};
		data["players"] = [];
		data["scores"] = [];
		data["score_type"] = $("#played_score_type").val();
		data["bad"] = null;
	
		$(".played_dataset").each(function(){
			data["players"].push($(this).find(".played_user_name").val());
			var score = Number($(this).find(".played_score").val());
			data["scores"].push(score);
			if($(this).find(".played_bad").is(":checked"))
			{
				data["bad"] = $(this).find(".played_user_name").val();
			}
		});
	
		
		$.ajax({
			type: "POST",
			url: "/json/match_register",
			data: JSON.stringify(data),
			contentType: "application/json",
			dataType: 'json',
			success: function(result) {
				console.log("ajax resp");
				console.log(result);
			}
		});
		console.log("ajax sent");
		console.log(data);
	
	}
	
	function ajax_ownership_register()
  {
		var data = {"owner_name": $("#user_search").val(),
								"game_id": {{ game_data["game_id"] }} };
		$.ajax({
				type: "POST",
				url: "/json/ownership_register",
				data: JSON.stringify(data),
				contentType: "application/json",
				dataType: 'json',
				success: function(result) {
					console.log("Game ownership registered");
					location.reload();
				}
			});
			console.log("ajax sent");
			console.log(data);
	}

	function user_datalist(user_list)
	{
		var html = "";
		
		
		user_list.forEach(function(value, index, array){
			html += `<option value="${value['name']}"></option>\n`;
		});
		
		console.log(html);
		$("#users").empty();
		$("#users").append(html);
	}

</script>


{% endblock %}


{% block content %}


<!-- Game Data -->
<div class="container">
	<div class="fixed-grid has-1-cols">
	  <div id="search_grid" class="grid">
		    <div class="cell"><img style="max-height:200px" src="{{ game_data['image_url'] }}"></div>
	        <div class="cell"><h3 class="title is-3">{{ game_data['name'] }} ({{ game_data['year_published'] }})</h3></div>
		    <div class="cell">
				<button id="button-play" class="button is-primary">Played it!</button>
				<button id="button-own" class="button is-primary">Own it!</button>
			</div>
		  <div class="cell"><b>Owners</b><p>{{ owner_list|join(', ') }}</p></div>
		  <div class="cell"><b>Recent Plays</b><p>{{ recent_plays|join(', ') }}</p></div>
			<div class="cell"><b>Game Designers</b><p>{{ game_data['designers']|join(', ') }}</p></div>
		    <div class="cell"><b>Game Mechanics</b><p>{{ game_data['mechanics']|join(', ') }}</p></div>
	  </div>
	</div>
</div>


<!-- Modal I own that game -->
<div id="modal-own-it" class="modal">
  <div class="modal-background close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">I Own That Game!</p>
      <button class="delete close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
	    <form action="/search.html">
			  <div class="field-body">
					<div class="xlabel">
						Who?
					</div>
			    <div class="field">
					  <div class="control is-expanded">
							<input class="input" type="text" list="users" name="user_search" id="user_search" placeholder="Reiner Knizia">
						  <datalist id="users">
						  </datalist>
					  </div>
					  <div class="control">
					  </div>
			    </div>
			  </div>
			</form>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button id="button-own-submit" class="button is-success">Submit</button>
      </div>
    </footer>
  </div>
</div>


<!-- Modal I played that game -->
<div id="modal-play-it" class="modal">
  <div class="modal-background close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">I Played That Game!</p>
      <button class="delete close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
	    <form action="/search.html">
			  <div class="field-body">
			    <div class="field">
				    <div>
					    How do you win the game?
				    </div>
					  <div class="select">
						  <select id="played_score_type">
							  <option value="most_points">Most Points</option>
							  <option value="least_points">Least Points</option>
							  <option value="ranking">1st/2nd/3rd</option>
							  <option value="one_loser">No Winners/One Loser</option>
						  </select>
					  </div>
					  <div class="control">
					  </div>
			    </div>
			  </div>
		    <div class="content">
			    <div class="field">
					  <div class="control is-expanded">
						  <table>
							  <thead>
							    <tr><th>Player</th><th>Score/Rank</th><th>Bad?</th></tr>
							  </thead>
							  <tbody id="user_play_table">
							  </tbody>
						  </table>
						  <button type="button" id="add_player_line"><i class="fa-regular fa-square-plus fa-lg"></i></button></td>
					  </div>
					  <div class="control">
					  </div>
			    </div>
			  </div>
			</form>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button id="played_save_button" class="button is-success">Save</button>
      </div>
    </footer>
  </div>
</div>



{% endblock %}

