<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello BCG!</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
  </head>
  <body>
 	<div class="container">
		<div class="field is-horizontal">
		  <div class="field-label is-normal">
		    <label class="label">Filter Query</label>
		  </div>
			<form action="/home.html">
			  <div class="field-body">
			    <div class="field has-addons">
			      <div class="control is-expanded">
			        <input class="input" type="text" name="query" id="query">
			      </div>
					  <div class="control">
						  <input class="button" type="submit" value="Submit"/>
					  </div>
				    <div class="control">
					    <button class="button" onclick="window.location.href='/home.html';">Clear</button>
					  </div>
			    </div>
			  </div>
			</form>
		</div>
	
    </div>
  </body>
</html>