{% extends "base.html" %}

{% block head %}
<script>
	
	function render_results(results_list)
	{
		
		clear_results();
		
		results_list.forEach(function(value, index, array){
			console.log(value["name"]);
			var html = `<div class='cell'><a href='/game/${value["game_id"]}'><img src='${value["thumb_url"]}'></a></div>\n`;
			html += `<div class="cell"><strong>${value["name"]}</strong><p>${value["year_published"]}</p></div>`;
			$("#search_grid").append(html);
			console.log(html);
		});
	}

	function add_loading(){
		$("#search_grid").append("<div class='cell'>Loading results...</div>");
	}

	function clear_results(){
		/* Remove original contents */
		$("#search_grid").empty();
	}
	
	function ajax_query(query_string){
		
		var data = {"search_query": query_string};
		$.ajax({
				type: "POST",
				url: "/json/game_search",
				data: JSON.stringify(data),
				contentType: "application/json",
				dataType: 'json',
				success: function(result) {
					console.log("ajax resp");
					console.log(result);
					render_results(result);
				}
			});
	}
	
	var query_string = "";
	
	$( document ).ready(function() {
    console.log( "ready!" );
    
    $("form").on("submit", function (e) {
            e.preventDefault();
        });
    
    setInterval(function(){
        console.log("interval func");
        if($("#search_query").val() != query_string){
          query_string = $("#search_query").val();
          if(query_string.length > 2){
            ajax_query(query_string);
          }
          else{
            clear_results();
          }
        }
      }, 2000);
    
	});
	
</script>


{% endblock %}


{% block content %}

<!-- Search bar -->
<div class="container">
	<form action="#">
	  <div class="field-body">
		<div class="xlabel">
			Start typing a game name...
		</div>
	    <div class="field">
		  <div class="control is-expanded">
			<input class="input" type="text" name="search_query" id="search_query" placeholder="Monopoly">
		  </div>
		  <div class="control">

		  </div>
	    </div>
	  </div>
	</form>
</div>



<!-- Search results -->
<div class="container">
	<div class="fixed-grid">
	  <div id="search_grid" class="grid">

	  </div>
	</div>
</div>


{% endblock %}

