<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello BCG!</title>
    <link rel="stylesheet" href="../static/bulma.min.css">
	<link rel="stylesheet" href="../static/theme.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".navbar-dropdown").hide();
        console.log("nav ready");
        $("#nav-burger").on("click", function(){
          console.log("Nav click");
          $(".navbar-dropdown").toggle("slow");
        });
        
        /* Bind buttons */
			  $("#button-own-it").on("click", function(){
			    $("#modal-own-it").addClass("is-active");
			  });
			  $("#button-play-it").on("click", function(){
			    $("#modal-play-it").addClass("is-active");
			  });
			  $(".close").on("click", modalCloseHandler);
			  
      });
	    
	    function modalCloseHandler(event)
	    {
	      console.log("close handler");
	      var parent = $(event.target).parents(".modal:first");
	      parent.removeClass(".is-active");
	      $(this).parents(".modal").first().removeClass("is-active");
	    }
	    
    </script>
    



	
  </head>
  <body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a style="margin: 5px 0px 0px 30px" href="/home">
      <img style="max-width: 240px" src="../static/bgclogo_alpha.png"/>
    </a>

    <a role="button" id="nav-burger" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-item has-dropdown is-hoverable">
    <div class="navbar-dropdown">
      <a class="navbar-item">
        CLUB GAME LIST
      </a>
      <a class="navbar-item" href="/search">
        GAME SEARCH
      </a>
      <a class="navbar-item">
        RANKINGS
      </a>
      <div class="navbar-item">
        WHO'S BAD?
      </div>
    </div>
  </div>
</nav>

<div class="container notification is-max-desktop">
	<button id="button-own-it" class="button">Own it</button>
	<button id="button-play-it" class="button">Played it</button>
</div>

<!-- Modal I own that game -->
<div id="modal-own-it" class="modal">
  <div class="modal-background close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">I Own That Game!</p>
      <button class="delete close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
	    <form action="/search.html">
			  <div class="field-body">
					<div class="xlabel">
						Who?
					</div>
			    <div class="field">
					  <div class="control is-expanded">
							<input class="input" type="text" name="search_query" id="search_query" placeholder="Reiner Knizia">
					  </div>
					  <div class="control">
					  </div>
			    </div>
			  </div>
			</form>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-success">Save</button>
      </div>
    </footer>
  </div>
</div>


<!-- Modal I played that game -->
<div id="modal-play-it" class="modal">
  <div class="modal-background close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">I Played That Game!</p>
      <button class="delete close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
	    <form action="/search.html">
			  <div class="field-body">
					<div class="xlabel">
						Who?
					</div>
			    <div class="field">
					  <div class="control is-expanded">
							<input class="input" type="text" name="search_query" id="user_search_query" placeholder="Reiner Knizia">
					  </div>
					  <div class="control">
					  </div>
			    </div>
			  </div>
			</form>
    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-success">Save</button>
      </div>
    </footer>
  </div>
</div>

  

  
</body>
</html>